.ModalOptions__button {
  display: block;
  width: 100%;
  appearance: none;
  border: 0;
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  padding: 1em;
  background-color: #EEEEEE;
  cursor: pointer;
}

.ModalOptions__button:focus, .ModalOptions__button:hover {
  background-color: #C8C8C8;
}

.ModalOptions__button--primary {
  background-color: #2ECC40;
}

.ModalOptions__button--primary:focus, .ModalOptions__button--primary:hover {
  background-color: #208E2C;
}

@media(min-width: 400px) {
  .ModalOptions {
    display: flex;
  }

  .ModalOptions > * {
    flex: 1;
  }
}